.main {
    cursor: pointer;
    padding: 12px 15px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: .3s;
    text-align: center;
}

.main:hover {
    border-color: #000;
    color: #000;
    background-color: #F2F5FA;
}


