.page__cont {
    padding: 0;
    margin: 0;
    position: relative;

}

.page__title {
    color: #A1A1A1;
    font-size: 35px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.page__main {
    width: 100%;

    background-color: #F2F5FA;
    padding: 10px;


}

.main__top__panel {
    margin: 10px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btns__top {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.top__filter {
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top__title {
    font-size: 30px;
    color: #000;
    font-weight: bold;
    align-self: center;
}

.top__subtitle {
    font-size: 25px;
    color: #A7A7A7;
    font-weight: bold;
    align-self: center;
    margin: 0 10px;
}

.category__title {
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

.shop__title {
    font-size: 20px;
    font-weight: normal;
    color: #000;
}

.pagination {
    position: relative;
    width: 100%;
    margin: 10px;
    margin-top: 55px;
    bottom: 0;
    left: 0;
    justify-self: flex-end;
}

.nav__btns {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 25px;
    margin-right: 50px;
    width: 200px;
}